body {
    position: relative;
    font-family: $kanit-font;
    color: $blue;

    @include media-up(lg) {
        overflow-x: hidden;
    }

    &.first-tab {
        .header {
            background: url('../images/header.png') no-repeat;
            background-size: 100% 190px;
            background-position-y: -30px;

            @include media-up(lg) {
                background-position: center;
                background-size: cover;
            }

            &__wrapper-form, &__tab-item::after {
                background: $purple;
            }
        }

        .form__box, .footer {
            background: $purple-2;
        }

    }

    &.second-tab {
        .header {
            background: url('../images/header2.png') no-repeat;
            background-size: 100% 190px;
            background-position-y: -30px;

            @include media-up(lg) {
                background-position: center;
                background-size: cover;
            }

            &__wrapper-form, &__tab-item::after {
                background: $blue;
            }
        }

        .form__box, .footer {
            background: $blue-2;
        }
    }

    @include media-up(lg) {
        &.page-template-page-homepage-php .top-menu li:first-child,
        &.page-template-page-pozyczka-ratalna-php .top-menu li:first-child {
            margin-right: 0.85em;
    
            a {
                border-radius: 1rem;
                background: $purple;
                color: $white !important;
            }
        }
    }
}

#wpadminbar {
    position: fixed !important;
}

.logo, .logo-big {
    display: inline-flex;
    align-items: center;
    color: $blue;
    
    @include hover($blue);

    &__span {
        font-weight: $extra-bold;
    }
}

.logo {
    font-size: 0.8125em;
    
    @include media-up(lg) {
        font-size: 1.3em;
    }
}

.logo-big {
    font-size: 1.3em;
}