.header-homepage {
    padding-top: 50px;
    margin-bottom: 65px;
    transition: $animation-image;
    @include position($p: relative, $z: 2);
    
    @include media-up(lg) {
        min-height: 670px;
        padding-top: 110px;
        margin-bottom: 85px;

        &::after {
            display: none;
        }
    }

    &::after {
        @include position(absolute, 0, 0, 0, 0, -1);
        background: $white-70;
        content: '';
    }

    &__left {
        @include media-up(lg) {
            max-width: 510px;
        }
    }

    &__wrapper-form {
        @include position($p: relative, $t: 65px, $z: 2);
        padding: 1.5rem 1rem;
        color: $white;
        transition: $animation-color;
    
        @include media-up(sm) {
            top: 90px;
            padding: 1.75rem 2rem;
        }
    }

    &__h1 {
        font-size: 1.1875em;
        font-weight: $extra-bold;
        text-align: center;

        @include media-up(lg) {
            @include position($p: relative, $t: 30px, $z: 2);
            width: 100%;
            padding: 2.125rem 0 2.125rem 2.75rem;
            margin: 0;
            font-size: 2.25em;
            text-align: left;

            &::after {
                @include position(absolute, 0, 0, 0, 0, -1);
                width: 100vw;
                background: $white-70;
                content: '';
            }
        }
    }

    &__tab {
        @include position($p: absolute, $t: -49px, $l: 0, $r: 0, $z: -1);
        display: flex;
        width: 100%;
        padding: 0 1rem;

        &-item {
            position: relative;
            flex: 1 1;
            padding: 1rem 0 2rem;
            text-align: center;
            background: $purple;
            color: $white;
            cursor: pointer;

            @include hover($white !important, $d: none !important);

            &:after {
                @include position(absolute, 68.5%, 0, 0, 0, 1);
                transition: $animation-color;
                content: '';
            }

            &:last-child {
                margin-left: 0.5rem;
                background: $blue;
            }
        }
    }

    &__item-2 {
        @include media-up(lg) {
            display: flex;
            align-items: center;
        }
    }
}