.other-page {
    padding-top: 50px;

    @include media-up(lg) {
        padding-top: 110px;
    }

    &__article {
        display: block;
        width: 100%;
        padding: 1.5rem;
        border: 3px solid transparent;
        border-radius: 10px;
        color: $blue;

        @include hover($blue) {
            border-color: $purple;
        }
    }
}