.top-menu {
    @include position($p: absolute, $t: 0, $r: 0, $l: 0, $z: 10);
    display: flex;
    align-items: center;
    height: 50px;

    @include media-up(lg) {
        height: 110px;
        background: $white-70;
    }

    &__btn {
        position: relative;
        display: none;
        width: 30px;
        height: 30px;
        margin: 0 0 0 auto;
        background: $purple;
        cursor: pointer;

        @include media-down(lg) {
            display: block;
        }

        span {
            @include position($p: absolute, $l: 5px, $r: 5px, $z: 2);
            height: 4px;
            background: $white;

            &:first-child {
                top: 5px;
            }

            &:nth-child(2) {
                top: 13px;
            }

            &:last-child {
                top: 21px;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        
        @include media-down(lg) {
            padding: 0 2rem;
        }
    }

    &__dropdown {
        display: none;

        @include media-up(lg) {
            display: block;
            width: 100%;
        }
    }

    &__ul {
        padding: 0;
        margin-bottom: 0;
        list-style: none;

        a {
            display: block;
            color: $blue;
            text-transform: uppercase;
            
            &:hover {
                color: $purple;
                text-decoration: none;
            }
        }

        @include media-up(lg) {
            display: flex;
            justify-content: flex-end;
    
            > li {
                &.current-menu-item {
                    margin: 0 0.85em;

                    &:first-child {
                        margin-left: none;
                    }

                    &:last-child {
                        margin-right: none;
                    }

                    a {
                        border-radius: 1rem;
                        background: $purple;
                        color: $white !important;
                    }
                }

                > a {
                    padding: 0.5rem 0.85em;
                    font-size: 0.925em;
                    font-weight: $light;
                }
            }
        }
    }
}

.top-menu #checkbox-toggler {
    display: none; 

    @include media-down(lg) {
        &:checked + .top-menu__dropdown {
            @include position($p: absolute, $t: 100%, $l: 0, $r: 0);
            display: block;
            background: $white;
    
            a {
                padding: 0.25rem 0;
                font-size: 1.5em;
                text-align: center;
            }
        }

        &:checked ~ .top-menu__btn {
            background: transparent;

            span {
                width: 100%;
                background: $blue;

                &:first-child {
                    top: 13px;
                    left: 0;
                    right: auto;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    top: 13px;
                    left: auto;
                    right: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}