.top-menu {
    @include position($p: relative, $z: 2);
    display: flex;
    align-items: center;
    height: 50px;

    @include media-up(lg) {
        height: 110px;
    }

    &::after {
        @include media-up(lg) {
            @include position(absolute, 0, 0, 0, 0, -1);
            background: $white;
            opacity: 0.25;
        }

        content: '';
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 25px;
        height: 25px;
        padding: 0.25rem;
        margin-left: auto;
        border: none;
        background: $purple;

        @include media-up(lg) {
            display: none;
        }

        > span {
            flex-basis: 100%;
            height: 3px;
            margin-bottom: 0.25rem;
            background: $white;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__dropdown {
        display: none;
        margin-left: auto;

        @include media-up(lg) {
            display: block;
        }
    }

    &__ul {
        @include media-up(lg) {
            display: flex;
            list-style: none;
    
            > li {

                &.current-menu-item {
                    margin-right: 1rem;

                    a {
                        border-radius: 1rem;
                        background: $purple;
                        color: $white;
                    }
                }

                > a {
                    padding: 0.5rem 1rem;
                    display: block;
                }
            }
        }
    }
}
