body {
  position: relative;
  font-family: "Kanit", sans-serif;
  color: #21324c;
}
@media (min-width: 992px) {
  body {
    overflow-x: hidden;
  }
}
body.first-tab .header-homepage {
  background: url("../images/header-homepage.png") no-repeat;
  background-size: 100% 190px;
  background-position-y: -30px;
}
@media (min-width: 992px) {
  body.first-tab .header-homepage {
    background-position: center;
    background-size: cover;
  }
}
body.first-tab .header-homepage__wrapper-form, body.first-tab .header-homepage__tab-item::after {
  background: #6968ad;
}
body.first-tab .form__box, body.first-tab .footer {
  background: #5a5996;
}
body.second-tab .header-homepage {
  background: url("../images/header-homepage2.png") no-repeat;
  background-size: 100% 190px;
  background-position-y: -30px;
}
@media (min-width: 992px) {
  body.second-tab .header-homepage {
    background-position: center;
    background-size: cover;
  }
}
body.second-tab .header-homepage__wrapper-form, body.second-tab .header-homepage__tab-item::after {
  background: #21324c;
}
body.second-tab .form__box, body.second-tab .footer {
  background: #374760;
}
@media (min-width: 992px) {
  body.first-tab .top-menu li:first-child, body.second-tab .top-menu li:first-child {
    margin-right: 0.85em;
  }
  body.first-tab .top-menu li:first-child a, body.second-tab .top-menu li:first-child a {
    border-radius: 1rem;
    background: #6968ad;
    color: #ffffff !important;
  }
}

#wpadminbar {
  position: fixed !important;
}

.logo, .logo-big {
  display: inline-flex;
  align-items: center;
  color: #21324c;
}
.logo:hover, .logo-big:hover {
  color: #21324c;
  text-decoration: none;
}
.logo__span, .logo-big__span {
  font-weight: 800;
}

.logo {
  font-size: 0.8125em;
}
@media (min-width: 992px) {
  .logo {
    font-size: 1.3em;
  }
}

.logo-big {
  font-size: 1.3em;
}

.header-homepage {
  padding-top: 50px;
  margin-bottom: 65px;
  transition: background-image 0.3s ease-out;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .header-homepage {
    min-height: 670px;
    padding-top: 110px;
    margin-bottom: 85px;
  }
  .header-homepage::after {
    display: none;
  }
}
.header-homepage::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.7);
  content: '';
}
@media (min-width: 992px) {
  .header-homepage__left {
    max-width: 510px;
  }
}
.header-homepage__wrapper-form {
  position: relative;
  top: 65px;
  z-index: 2;
  padding: 1.5rem 1rem;
  color: #ffffff;
  transition: background-color 0.3s ease-out;
}
@media (min-width: 576px) {
  .header-homepage__wrapper-form {
    top: 90px;
    padding: 1.75rem 2rem;
  }
}
.header-homepage__h1 {
  font-size: 1.1875em;
  font-weight: 800;
  text-align: center;
}
@media (min-width: 992px) {
  .header-homepage__h1 {
    position: relative;
    top: 30px;
    z-index: 2;
    width: 100%;
    padding: 2.125rem 0 2.125rem 2.75rem;
    margin: 0;
    font-size: 2.25em;
    text-align: left;
  }
  .header-homepage__h1::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    background: rgba(255, 255, 255, 0.7);
    content: '';
  }
}
.header-homepage__tab {
  position: absolute;
  top: -49px;
  right: 0;
  left: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  padding: 0 1rem;
}
.header-homepage__tab-item {
  position: relative;
  flex: 1 1;
  padding: 1rem 0 2rem;
  text-align: center;
  background: #6968ad;
  color: #ffffff;
  cursor: pointer;
}
.header-homepage__tab-item:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}
.header-homepage__tab-item:after {
  position: absolute;
  top: 68.5%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s ease-out;
  content: '';
}
.header-homepage__tab-item:last-child {
  margin-left: 0.5rem;
  background: #21324c;
}
@media (min-width: 992px) {
  .header-homepage__item-2 {
    display: flex;
    align-items: center;
  }
}

.top-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 50px;
}
@media (min-width: 992px) {
  .top-menu {
    height: 110px;
    background: rgba(255, 255, 255, 0.7);
  }
}
.top-menu__btn {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
  background: #6968ad;
  cursor: pointer;
}
@media (max-width: 991px) {
  .top-menu__btn {
    display: block;
  }
}
.top-menu__btn span {
  position: absolute;
  right: 5px;
  left: 5px;
  z-index: 2;
  height: 4px;
  background: #ffffff;
}
.top-menu__btn span:first-child {
  top: 5px;
}
.top-menu__btn span:nth-child(2) {
  top: 13px;
}
.top-menu__btn span:last-child {
  top: 21px;
}
.top-menu__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .top-menu__wrapper {
    padding: 0 2rem;
  }
}
.top-menu__dropdown {
  display: none;
}
@media (min-width: 992px) {
  .top-menu__dropdown {
    display: block;
    width: 100%;
  }
}
.top-menu__ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.top-menu__ul a {
  display: block;
  color: #21324c;
  text-transform: uppercase;
}
.top-menu__ul a:hover {
  color: #6968ad;
  text-decoration: none;
}
@media (min-width: 992px) {
  .top-menu__ul {
    display: flex;
    justify-content: flex-end;
  }
  .top-menu__ul > li.current-menu-item {
    margin: 0 0.85em;
  }
  .top-menu__ul > li.current-menu-item:first-child {
    margin-left: none;
  }
  .top-menu__ul > li.current-menu-item:last-child {
    margin-right: none;
  }
  .top-menu__ul > li.current-menu-item a {
    border-radius: 1rem;
    background: #6968ad;
    color: #ffffff !important;
  }
  .top-menu__ul > li > a {
    padding: 0.5rem 0.85em;
    font-size: 0.925em;
    font-weight: 300;
  }
}

.top-menu #checkbox-toggler {
  display: none;
}
@media (max-width: 991px) {
  .top-menu #checkbox-toggler:checked + .top-menu__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: block;
    background: #ffffff;
  }
  .top-menu #checkbox-toggler:checked + .top-menu__dropdown a {
    padding: 0.25rem 0;
    font-size: 1.5em;
    text-align: center;
  }
  .top-menu #checkbox-toggler:checked ~ .top-menu__btn {
    background: transparent;
  }
  .top-menu #checkbox-toggler:checked ~ .top-menu__btn span {
    width: 100%;
    background: #21324c;
  }
  .top-menu #checkbox-toggler:checked ~ .top-menu__btn span:first-child {
    top: 13px;
    left: 0;
    right: auto;
    transform: rotate(45deg);
  }
  .top-menu #checkbox-toggler:checked ~ .top-menu__btn span:nth-child(2) {
    display: none;
  }
  .top-menu #checkbox-toggler:checked ~ .top-menu__btn span:last-child {
    top: 13px;
    left: auto;
    right: 0;
    transform: rotate(-45deg);
  }
}

.form__box {
  padding: 1.25rem;
  transition: background-image 0.3s ease-out;
}
.form__label {
  font-size: 1.25em;
  line-height: 1.15em;
  font-weight: 700;
}
.form__range {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.form__range:focus {
  outline: none;
}
.form__range::-webkit-slider-runnable-track, .form__range:focus::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  background: #ffffff;
  animation: none;
}
.form__range::-webkit-slider-thumb {
  height: 15px;
  width: 30px;
  background: #2FCFEA;
  -webkit-appearance: none;
  animation: none;
  border-color: transparent;
  border-radius: 0;
  margin-top: -3.5px;
}
.form__range::-moz-range-track {
  width: 100%;
  height: 7px;
  background: #ffffff;
  animation: none;
}
.form__range::-moz-range-thumb {
  height: 15px;
  width: 30px;
  background: #2FCFEA;
  -webkit-appearance: none;
  animation: none;
  border-color: transparent;
  border-radius: 0;
}
.form__range::-ms-track {
  width: 100%;
  height: 7px;
  background: #ffffff;
  animation: none;
}
.form__range::-ms-thumb {
  height: 15px;
  width: 30px;
  background: #2FCFEA;
  -webkit-appearance: none;
  animation: none;
  border-color: transparent;
  border-radius: 0;
  margin-top: -1px;
}
.form__value {
  font-size: 1.125em;
  font-weight: 700;
  color: #bbe7ee;
}
.form__value-2 {
  font-size: 0.925em;
}
.form__range-box {
  display: flex;
  align-items: center;
}
.form__range-box > div:first-child {
  flex: 1 1;
}
.form__range-box > div:last-child {
  margin-left: 0.75rem;
  flex-basis: 90px;
}
.form__span {
  font-size: 0.8em;
  color: #bec3ca;
}
.form__p {
  font-size: 0.5em;
  color: #bec3ca;
  text-align: justify;
}
.form__group {
  margin-bottom: 0.625rem;
}
.form__submit {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  border: 0;
  font-weight: 700;
  letter-spacing: 0.059em;
  background: #2FCFEA;
  color: #ffffff;
}

.must-have {
  padding-top: 2rem;
}
@media (min-width: 576px) {
  .must-have {
    padding-top: 3rem;
  }
}
@media (min-width: 992px) {
  .must-have {
    padding-top: 5rem;
  }
}
.must-have__h3 {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  font-weight: 700;
}
@media (min-width: 992px) {
  .must-have__h3 {
    font-size: 1em;
  }
}
.must-have__list {
  list-style: none;
}
.must-have__list-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 1.1875em;
  font-weight: 800;
  border-radius: 100%;
  color: #ffffff;
  background: #2FCFEA;
}
@media (min-width: 992px) {
  .must-have__list-style {
    position: absolute;
    left: -2px;
    z-index: 2;
    width: 35px;
    height: 35px;
  }
}
.must-have__list-item {
  padding: 0.25rem 0;
  border-bottom: 1px solid #21324c;
  font-size: 0.925em;
}
@media (min-width: 992px) {
  .must-have__list-item {
    position: relative;
    padding: 0;
    margin: 1rem 0;
    padding-left: 3rem;
  }
}
.must-have__border {
  background: #ffffff;
}
@media (min-width: 992px) {
  .must-have__border {
    position: relative;
    width: 50%;
    padding: 0.75rem 2.1875rem 1.625rem 2.1875rem;
    border: 30px solid #21324c;
  }
  .must-have__border::after {
    position: absolute;
    top: calc(50% - 92.5px);
    left: -65px;
    z-index: 2;
    width: 75px;
    height: 185px;
    background: url("../images/purple.png") no-repeat center;
    background-size: cover;
    content: '';
  }
}
@media (min-width: 992px) {
  .must-have__img {
    position: absolute;
    top: -25px;
    right: 0;
    bottom: 25px;
    z-index: -1;
    width: 60%;
    height: 100%;
    background: url("../images/okey.png") no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  .must-have__img {
    background-image: url("../images/okey-2x.png");
  }
}

@media (min-width: 992px) {
  .must-have__color {
    position: absolute;
    top: -12px;
    right: 15px;
    bottom: 12px;
    z-index: -2;
    width: 60%;
    background: #6968ad;
  }
}
.must-have__wrapper {
  position: relative;
}
.must-have__h2 {
  margin-bottom: 1.25rem;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 992px) {
  .must-have__h2 {
    font-size: 2em;
    margin-bottom: 5rem;
  }
}

.references {
  margin-top: 1.5rem;
}
@media (min-width: 992px) {
  .references {
    margin-top: 5.875rem;
  }
}
.references__h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 800;
}
@media (min-width: 992px) {
  .references__h2 {
    font-size: 1.6em;
  }
}
.references__big {
  font-size: 2.375em;
  font-weight: 700;
  color: #2FCFEA;
}
.references__mobile-img {
  width: 100%;
  min-height: 150px;
}
@media (min-width: 992px) {
  .references__mobile-img {
    display: none;
  }
}
.references__img {
  width: 100%;
  max-height: 220px;
}
@media (max-width: 991px) {
  .references__img {
    display: none;
  }
}
.references__content {
  position: relative;
  background: #cae7eb;
  flex: 1 1;
}
.references__content::after, .references__content::before {
  position: absolute;
  top: -15px;
  z-index: 2;
  width: 8px;
  height: 50px;
  background: #6968ad;
  transform: skewY(20deg);
  transform-origin: top center;
  content: '';
}
.references__content::after {
  left: 16px;
}
@media (min-width: 992px) {
  .references__content::after {
    left: 8px;
  }
}
.references__content::before {
  left: 35px;
}
@media (min-width: 992px) {
  .references__content::before {
    left: 27px;
  }
}
.references__h3 {
  display: inline-block;
  font-size: 1.125em;
  font-weight: 700;
}
.references__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inference {
  margin-top: 1.6875rem;
}
@media (min-width: 992px) {
  .inference {
    margin-top: 5.875rem;
  }
}
.inference__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  background: #f3f3f3;
}
.inference__h2 {
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 992px) {
  .inference__h2 {
    font-size: 2em;
  }
}
.inference__h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0625em;
}
.inference__number {
  flex-shrink: 0;
  margin-right: 0.75rem;
  font-size: 2.5em;
  font-weight: 700;
  color: #2FCFEA;
}

.regulations {
  margin-top: 2.375rem;
  font-size: 0.6875em;
  line-height: 1.1em;
}
@media (min-width: 992px) {
  .regulations {
    margin-top: 5.5rem;
  }
}

.footer {
  position: relative;
  padding: 2.5rem 1.25rem 2.5rem;
  margin-top: 5rem;
  background: #6968ad;
  transition: background-color 0.3s ease-out;
}
.footer__logo {
  position: absolute;
  top: -40px;
  left: calc(50% - 135px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 80px;
  background: #ffffff;
}
@media (max-width: 575px) {
  .footer__logo {
    width: auto;
    left: 1.25rem;
    right: 1.25rem;
  }
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0.5rem 0;
  list-style: none;
}
@media (min-width: 992px) {
  .footer__menu {
    flex-direction: row;
    margin: 2rem 0;
  }
}
.footer__menu li {
  width: 270px;
}
@media (min-width: 992px) {
  .footer__menu li {
    width: auto;
  }
}
.footer__menu a {
  display: block;
  padding: 0.5rem 0;
  font-size: 0.8125em;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 992px) {
  .footer__menu a {
    padding: 0 0.625rem;
  }
}
.footer__menu a:hover {
  text-decoration: none;
  color: #bec3ca;
}
.footer__submit {
  width: 270px;
  margin: 0 auto;
  text-align: center;
}
.footer__submit:hover {
  color: #ffffff;
  text-decoration: none;
}

.other-page {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .other-page {
    padding-top: 110px;
  }
}
.other-page__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: #6968ad;
  color: #ffffff;
}
.other-page__article {
  display: block;
  width: 100%;
  padding: 1.5rem;
  border: 3px solid transparent;
  border-radius: 10px;
  color: #21324c;
}
.other-page__article:hover {
  color: #21324c;
  text-decoration: none;
  border-color: #6968ad;
}

.paginate {
  margin: 2rem 0 2rem 2rem;
}

.page-numbers {
  display: flex;
  padding: 0;
  font-size: 1rem;
  list-style: none;
}
.page-numbers a {
  display: block;
  padding: 3px 10px;
  margin-right: 7px;
  color: #21324c;
}
.page-numbers span.current {
  display: block;
  float: left;
  padding: 3px 10px;
  margin-right: 7px;
  border-radius: 12px;
  background-color: #6968ad;
  color: #ffffff;
}
.page-numbers span.dots {
  display: block;
  float: left;
  padding: 3px 10px;
  margin-right: 7px;
}
