.bold {
  font-weight: 700;
}

.logo {
  display: inline-flex;
  align-items: center;
}
.logo, .logo:hover {
  text-decoration: none;
}
.logo::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 7px;
  background: url("../images/logo-mobile.png") no-repeat;
  background-size: cover;
  content: '';
}
@media (min-width: 992px) {
  .logo::before {
    width: 63px;
    height: 63px;
    margin-right: 15px;
    background: url("../images/logo.png") no-repeat;
  }
}

.top-menu {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 50px;
}
@media (min-width: 992px) {
  .top-menu {
    height: 110px;
  }
}
.top-menu::after {
  content: '';
}
@media (min-width: 992px) {
  .top-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ffffff;
    opacity: 0.25;
  }
}
.top-menu__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 25px;
  height: 25px;
  padding: 0.25rem;
  margin-left: auto;
  border: none;
  background: #6968ad;
}
@media (min-width: 992px) {
  .top-menu__btn {
    display: none;
  }
}
.top-menu__btn > span {
  flex-basis: 100%;
  height: 3px;
  margin-bottom: 0.25rem;
  background: #ffffff;
}
.top-menu__wrapper {
  display: flex;
  align-items: center;
}
.top-menu__dropdown {
  display: none;
  margin-left: auto;
}
@media (min-width: 992px) {
  .top-menu__dropdown {
    display: block;
  }
}
@media (min-width: 992px) {
  .top-menu__ul {
    display: flex;
    list-style: none;
  }
  .top-menu__ul > li.current-menu-item {
    margin-right: 1rem;
  }
  .top-menu__ul > li.current-menu-item a {
    border-radius: 1rem;
    background: #6968ad;
    color: #ffffff;
  }
  .top-menu__ul > li > a {
    padding: 0.5rem 1rem;
    display: block;
  }
}
